

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header{
	width: 100%;
	font-size: 20px;
	height: 50px;
	left: 0px;
	top: 0px;
	background: #aecfcf;
	position: fixed;
	z-index: 0;
	font-style: bold;
	color: #585858;
	display: flex;
	flex-direction: row;
}

.subsection_title{
	padding: 10px 0px 10px 0px;
	font-size: 18px;
	font-style: bold;	
	align-items: left;
	text-align: left;
}

.example-image {
	width: 100%;	
}


.info{	
	background-color: #e2e2e2;
	color: #868686;
	height: 500px;
	margin-bottom: 20px;
	font-style: normal;
	padding-top: 50px;
}
.descr{
	padding: 65px 50px 5px 65px;
	font-size: 45px;
	font-style: bold;
	font-weight: 700;
	color: #5aa5a5;
	text-align: center;
}
.descr_2{
	margin: 50px;
	font-size: 18px;
	font-style: bold;
	font-weight: 700;
	color: #979797;
	text-align: left;
}

.inter_map{
	margin: 10px;
	font-size: 20px;
	font-style: bold;
	font-weight: 700;
	color: #5aa5a5;
	text-align: left;
}

.map {
	background-color: #c5c5c5;
	height: 600px;
}


.sections{
	padding: 50px 0px 60px 0px;
	width: 100%;
	background: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.subsection_descr{
	padding: 5px;
	height: 85px;
	font-size: 14px;
	line-height: 21px;
	background: #ffffff;

}
.subsection_descr ul li{

	list-style: square;
}	



.footer{
	font-size: 18px;
	line-height: 21px;
	background: #b1b1b1;
}

.subsection_title_2{
	padding: 10px;
	font-size: 18px;
	align-items: left;
	text-align: left;
}

.footer_sections{
	padding: 0px 20px 20px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 14px;
	width: 100%;
	color: #000;
}